.container {
	width: 100%;
	margin-bottom: 15px;
}

/* Nike headerlogo styling */
.app-logo {
	height: 59px;
	width: 59px;
	transform: scale(1.33);
	margin-left: 0.75rem;
	filter: grayscale(100%);
}

.app-logo_wrapper {
  transition: 0.4s;
}

.app-logo_wrapper:hover {
	opacity: 50%;
}

.header {
	position: relative;
	z-index: 2;
}

.header-wrapper {
	padding: 4px 38px 0 38px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Small screens */
@media only screen and (max-width: 960px) {
  .header-wrapper {
    padding: 0 14px 0 14px;
  }
}