.product-card {
	/* min-width: 185px; */
	max-width: 33.33333333%;
	padding: 0 8px 0 8px;
  transition: transform 0.5s;
}

.product-card:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

.product-card:hover > img {
  opacity: 0.6;
}

/* Product info section */
.product-card_info {
  min-height: 220px;
}

.product-card_title{
  color: black;
  padding-bottom: 5px;
}

.product-card_subtitle {
  color: grey;
}

.product-card_priceinfo {
  padding-top: 10px
}

/* Small screens */
@media only screen and (max-width: 960px) {
  .product-card {
    min-width: 50%;
  }
}