.product-card {
	min-width: 185px;
	max-width: 33.33333333%;
	padding: 0 8px 0 8px;
}

.product-card_img {
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
  transition: opacity 0.5s;
}

.product-card:hover{
  cursor: pointer;
}

.product-card:hover > img{
  opacity: 0.5;
  transition: 0.5s;
}

.product-card_info {
  min-height: 220px;
}

.product-card_title{
  color: black;
  padding-bottom: 5px;
}

.product-card_subtitle {
  color: grey;
}

.product-card_priceinfo {
  padding-top: 10px
}

.priceinfo_discount {
  color: green;
  padding-top: 1rem;
}

.discounted {
  text-decoration: line-through;
  color: grey;
}