@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: inherit;
}

a:active {
	color: inherit;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

/* GLOBAL STYLING */
:root {
	--largeTitle: 72px;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Error page styling*/
.errorContent {
	margin: 5rem auto;
	text-align: center;
}

.errorContent h1 {
	font-size: 25px;
}

.errorContent h2 {
	font-size: 23px;
	margin-bottom: 1rem;
}

.errorContent p {
	font-size: 18px;
}

.errorContent p > a {
	color: blue;
}

.errorContent p > a:hover {
	color: red;
}
/*****/

/* Global */
.content {
	display: flex;
	flex-direction: column;
	min-height: 300px;
}

.content-inner {
  padding: 0 38px 0 38px;
  display: flex;
  flex-direction: column;
}

.is-hidden {
	display: none;
}

.imageWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-height: 700px;
}

/* Discount styling */
.discount_line {
	text-decoration: line-through;
	color: grey;
	margin-left: 0.5rem;
}

.discount_styling {
	color: green;
	padding-top: 1rem;
}

.modal-header_closeBtn {
	align-self: flex-end;
	padding: 5px;
	font-weight: 1000;
	cursor: pointer;
	background-color: #e5e5e5;
	border-radius: 50%;
	min-height: 36px;
	min-width: 36px;
}

/* Modal Order buttons styling */
.order-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
  margin-top: auto;
}

.button-order {
	border-radius: 20px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.button-order img {
	width: 18px;
}

.button-order_black {
	background-color: black;
	color: white;
}

.button-order_black:hover {
	opacity: 0.5;
}

.button-order_white {
	border: 1px solid #cacacb;
	background-color: white;
	color: black;
}

.button-order_white:hover {
	border-color: black;
	background-color: white;
	color: black;
}

.button-order.disabled {
	color: rgb(204, 204, 204);
	background-color: rgb(245, 245, 245);
}

.button-order.disabled:hover {
	opacity: 1;
	cursor: inherit;
}

.title_large {
	font-family: 'Anton', sans-serif;
	font-size: 72px;
	text-align: center;
	font-weight: 500;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.basic-button {
	background-color: black;
	color: white;
	border-radius: 25px;
	padding: 10px 20px;
	max-width: max-content;
}

.basic-button:hover {
	opacity: 0.6;
}

.basic-button_white {
	background-color: white;
	color: black;
}

/* Nike logo styling */
.app-logo_wrapper {
  transition: 0.4s;
}

.app-logo_wrapper:hover {
	opacity: 50%;
}

/* Mobile screens */
@media only screen and (max-width: 540px) {
  .content-inner {
    padding: 0 10px 0 10px;
  }
}
