.banner {
	box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px inset;
	background: rgb(247, 247, 247);
	min-height: 60px;
	display: flex;
	justify-content: center;
}

.banner-inner {
	display: flex;
	align-items: center;
	max-width: 768px;
	overflow: hidden;
	position: relative;
}

.banner-inner span {
	font-size: 12px;
	font-weight: 1000;
	text-decoration: underline;
}

.banner-inner_texts {
	padding: 5px 0 5px 0px;
	display: flex;
  transition: 1s;
}

.banner-inner_arrow {
	padding: 1rem;
  z-index: 2;
  background-color: #f7f7f7;
  cursor: pointer;
}
